@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Sistema de Control Escolar</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Módulo de Home</h2>
        <p>En este sistema usted podra administrar, Estudiantes, Cursos, Horarios y Grupos</p>
    </div>
</div>